node_modules/**/*
*.env

# Logs
logs/**/*

# Database files
database/**/*.db

# Node modules directories

# Vue.js specific
dist/**/*
backend/logs/combined.log
/backend/logs
/backend/node_modules
projectFilesList.txt
